body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 500px;
}
.sunflower {
    width: 500px;
    border: thin solid #000;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
}
.sunflower img {
    width: 100%;
}
.floating {
    float: left;
}
.stop {
    clear: both;
}
.moving {
    position: fixed;
    top: 0px;
}
nav a {
    display: block;
    background-color: antiquewhite;
    padding: 10px 5px;
    border-bottom: thin solid black;
    border-top: thin solid black;
    border-left: thin solid black;
    border-right: thin solid black;
    width: 250px;
    text-align: center;
}