<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
    <header class="centered">
        <h1>My Page</h1>
    </header>
    <hr>
    <nav>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <div class="clear"></div>
    </nav>
    <hr>
    <main>
        <h1 class="centered">Main Content</h1>
    </main>
    </div>
    <hr>
    <footer>
        <p>&copy; February 2025 Matthew Leoncio</p>
    </footer>
</body>
</html>