<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
    <header class="centered">
        <h1>Trivia of the Day</h1>
    </header>
    <hr>
    <nav>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <div class="clear"></div>
    </nav>
    <hr>
    <main>
        <h2 class="centered">Fastest Object Sport</h2>
        <h3 class="centered">Badminton</h3>
        <div class="stop"></div>
        <figure class="floating badminton">
            <img src="LCWBadminton.jpg" alt="Badminton smash">
            <figcaption class="centered">Lee Chong Wei Smash</figcaption>
        </figure>
        <p class="read">We may think of different object sports that has a speed we can't imagine how fast they are and how they generate such velocity. Think again-becuase the fastest object sport ever recorded wasn't one we expected. It is badminton! With strength, power, and racket speed. As it made contact to the shuttle, it generates an overwhelming momentum.</p>
        <p class="read">A professional badminton player Tan Boon Hong from Malaysia has a record of 351 mph during speed test in 2013. However, another professional player from Malaysia Lee Chong Wei have created a world record during a badminton game, generating a speed of 265 mph in-game smash. This made him become one of the famous players in the world. These speeds travels faster than F1 cars rushing towards the finish line.</p>
        <p class="read"> If you want more trivia of what you prefer, use the links above to explore different categories.</p>
        <div class="stop"></div>
    </main>
    </div>
    <hr>
    <footer>
        <p>&copy; February 2025 Matthew Leoncio</p>
    </footer>
</body>
</html>