body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccd5ae;
    background-image: url(background.jpg);
    margin: auto;
    position: relative;
    background-repeat: repeat;
    background-size: cover;
    background-origin: border-box;
    background-clip: padding-box;
}
.wrapper {
    width: 80%;
    background-color: #fefae0;
    margin: auto;
    border: thin solid black;
    border-radius: 5px;
}
.clear {
    clear: both;
}
nav a {
    display: block;
    padding: 10px 15px;
    background-color: #d4a373;
    color: black;
    border: thin solid black;
    float: left;
    margin-left: 50px;
    width: 75px;
    text-align: center;
}
nav a:hover {
    color: black;
    background-color: #e9edc9;
}
.centered {
    text-align: center;
}
h1 {
    font-weight: 5px;
    font-style: normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 15px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2.5px black;
    color: #291402;
}
footer {
    color: white;
}
.floating {
    float: left;
}
.badminton {
    width: auto;
    height: auto;
    margin: 25px;
    padding: 5px;
    border: 2.5px solid black;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
figcaption {
    font-size: 20px;
    font-style: italic;
}
.stop {
    clear: both;
}
.read {
    font-size: 17px;
    text-align: left;
}
h3 {
    font-size: 24px;
}
h2 {
    font-size: 32px;
}