body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(beigetexture.jpg);
}

header {
    text-align: center;
    font-size: 32px;
    background-image: url("transparent_tree1.png");
    background-repeat: no-repeat;
    background-position: 600px;


}
.center {
    text-align: center;
}
.bolder {
    font-weight: bold;
}