@font-face {
    font-family: 'Hurricane-Regular';
    src: url(Hurricane-Regular.ttf)
}
@font-face {
    font-family: 'Quicksand';
    src: url(Quicksand-VariableFont_wght.ttf)
}
@font-face {
    font-family: 'Raleway';
    src: url(Raleway-VariableFont_wght.ttf)
}

/*HOME PAGE*/
body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 0;
}
span {
    text-decoration: underline;
    padding: 10px;
    font-size: 24px;
}
span:hover {
    background-color: rgb(152, 167, 167, 0.15);
    border-radius: 15px;
}
#nav1 {
    order: 1;
}
#nav2 {
    order: 3;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    font-weight: 400;
}
nav a {
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: rgb(95, 71, 4);
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}
nav a:hover {
    background-color: rgb(152, 167, 167, 0.15);
    color: black;
}
.group1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-bottom: 0;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    border-bottom: thin solid black;
}
header {
    text-align: center;
    order: 2;
}
.brand {
    font-family: 'Hurricane-Regular', Courier, monospace ;
    font-size: 70px;
    font-weight: 500;
    margin: 0;
}
.spacer {
    height: 150px;
}
.containVideo, .containVideo1 {
    width: 1000px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    margin-bottom: 50px;
}
.footLinks a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #271e19;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}
.footLinks a:hover {
    background-color: #4b3021;
}
.footContent {
    background-color: #413731;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.brandFoot {
        font-family: 'Hurricane-Regular', Courier, monospace ;
        font-size: 50px;
        font-weight: 500;
        color: white;
        border-bottom: thin solid white;
        width: 300px;
        text-align: center;
}
.copyright {
    color: white;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}
.claims {
    color: white;
    text-align: center;
    width: 750px;
    margin-top: 0;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}
footer {
    margin-top: 0;
}


/* TABLE SCETION */
#intPhrase {
    margin: auto;
    margin-bottom: 70px;
    width: 800px;
}
.motto1 {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
}
.catch {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
.introPic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
#tablePage {
    padding: 20px;
}
.perfumeTable {
    font-family: 'Raleway';
    color: black;
    font-size: 32px;
    width: auto;
    text-align: center;
}
.motto2 {
    margin-top: 10px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 15px;
}
.centerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.perfumeTable thead th {
    padding: 15px;
    font-weight: 500;
    border-bottom: thin solid black;
}
.perfumeTable tbody td {
    padding: 5px;
    font-weight: 200;
}
.perfumeTable tbody tr:nth-child(odd) {
    background-color: rgba(207, 207, 209, 0.199);
}
.ing {
    border-right: thin solid black;
}
#tabCap {
    width: 800px;
    margin: auto;
    margin-bottom: 75px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}



/*ESSENCE PAGE */
.group1Ex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-bottom: 0;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    border-bottom: thin solid black;
}
.introPic2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.imgWrap {
    position: relative;
    width: 1000px;
}
.imgWrap img {
    width: 100%;
    display: block;
    transition: filter 0.5s ease;
}
.imgWrap:hover img {
    filter: brightness(50%);
}
.imgWrap figcaption {
    position: absolute;
    width: 50%;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
}
.plant {
    font-size: 38px;
    font-weight: 500;
}
.explain {
    font-size: 28px;
    font-weight: 200;
}



/*FORM PAGE*/
form {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 20px;
}
fieldset {
    width: 650px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(37, 31, 13, 0.541);
}
fieldset legend {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;
    background-color: #413731;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    gap: 10px;
}
.form-row label {
    width: 150px;
    text-align: right;
}
.form-row input {
    border-radius: 5px;
    border: thin solid black;
    width: auto;
}
.form-spacer1 {
    width: 162px;
    text-align: right;
}
.form-spacer2 {
    width: 150px;
    text-align: right;
}
.radio-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
.form-row input:not([type="submit"]) {
    padding: 5px;
    width: 250px;
    font-family: ;
    background-color: ;
}
.form-row input[type="submit"] {
    padding: 5px;
    margin: 5px;
    background-color: ;
    font-size: 16px;
    font-weight: 100;
    border-radius: 5px;
    background-color: #413731;
    color: white;
}
.form-row select {
    background-color: ;
    padding: 5px;
    width: 262.5px;
    border: thin solid black;
    border-radius: 5px;
}
#scentDis {
    background-color: #f1f1f1;
}



/* MEDIA QUERY */
@media ONLY screen AND (max-width: 1200px) {
    .group1, .group1Ex {
        flex-direction: column;
        gap: 0;
        margin-bottom: 0;
        align-items: center;
        justify-content: space-evenly;
    }
    header {
        order: 1;
    }
    #nav1 {
        order: 3;
    }
    #nav2 {
        order: 2;
    }
    #tablePage {
        margin: 0;
    }
    .spacer {
        height: 200px;
    }
    .introPic figure img {
        width: 400px;
    }
    .imgWrap {
        width: 700px;
    }
    .plant {
        font-size: 24px;
    }
    .explain {
        font-size: 16px;
    }
    .perfumeTable thead th {
        font-size: 24px;       
    }
    .perfumeTable tbody td {
        font-size: 20px;
    }
    #footSpacer {
        margin-top: 100px;
    }
}
@media ONLY screen AND (max-width: 900px) {
    #intPhrase {
        width: auto;
    }
    .brand {
        font-size: 50px;
    }
    main {
        margin-left: 25px;
        margin-right: 25px;        
    }
    .introPic figure img {
        width: 400px;
    }
    .introPic {
        flex-direction: column;
    }
    #tabCap {
        width: auto;
    }
    .imgWrap {
        width: 350px;
    }
    .perfumeTable thead th {
        padding: 5px;
    }
    .perfumeTable tbody td {
        padding: 0;
    }
    .containVideo {
        width: 350px;
        height: 375px;
    }
    .containVideo1 {
        width: 450px;
        height: 375px;
    }
    .footLinks {
        flex-direction: column;
        gap: 10px;
    }
    .claims {
        width: 400px;
    }
    #tabCap {
        width: 500px;
    }
    #nav1 a {
        font-size: 16px;
    }
    #nav2 a {
        font-size: 16px;
    }
    span {
        font-size: 16px;
    }
    .footLinks a {
        font-size: 12px;
    }
}
@media ONLY screen AND (max-width: 600px) {
    header {
        order: -1;
    }
    nav {
        flex-direction: column;
    }
    #nav1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    #nav2 {
        order: -1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    #tabCap {
        width: 400px;
    }
    #footSpacer {
        margin-top: 100px;
    }
    .brandFoot {
        font-size: 35px;
    }
    .copyright, .claims {
        font-size: 12px;
    }
    .claims {
        width: 300px;
    }
    .containVideo1 {
        width: 300px;
        height: 350px;
    }
    .introPic figure img {
        width: 300px;
}
