@font-face {
    font-family: 'Hurricane-Regular';
    src: url(Hurricane-Regular.ttf)
}
@font-face {
    font-family: 'Quicksand';
    src: url(Quicksand-VariableFont_wght.ttf)
}
@font-face {
    font-family: 'Raleway';
    src: url(Raleway-VariableFont_wght.ttf)
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
span {
    text-decoration: underline;
    padding: 10px;
    font-size: 20px;
}
span:hover {
    background-color: rgb(152, 167, 167, 0.15);
    border-radius: 15px;
}
#nav1 {
    order: 1;
}
#nav2 {
    order: 3;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    font-size: 28px;
}
nav a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: rgb(22, 67, 104);
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}
nav a:hover {
    background-color: rgb(152, 167, 167, 0.15);
    color: black;
}
.group1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
    margin-bottom: 0;
}
header {
    text-align: center;
    order: 2;
}
.brand {
    font-family: 'Hurricane-Regular', Courier, monospace ;
    font-size: 70px;
    font-weight: 500;
    margin: 0;
}
main {
    margin-left: 50px;
    margin-right: 50px;
}
#intPhrase {
    margin: auto;
    margin-bottom: 70px;
    width: 800px;
}
.motto1 {
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
}
.catch {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
.introPic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media ONLY screen AND (max-width: 1200px) {
    .group1 {
        flex-direction: column;
        gap: 0;
        align-items: center;
        justify-content: space-evenly;
    }
    header {
        order: 1;
    }
    #nav1 {
        order: 3;
    }
    #nav2 {
        order: 2;
    }
}
@media ONLY screen AND (max-width: 900px) {
    #intPhrase {
        width: auto;
    }
    .introPic {
        flex-direction: column;
    }
    #tabCap {
        width: auto;
    }
}
@media ONLY screen AND (max-width: 600px) {
    .group1 {
        flex-direction: column;
        gap: 0;
        padding: 0;
        align-items: center;
        justify-content: space-evenly;
    }
    header {
        order: -1;
    }
    nav {
        flex-direction: column;
    }
    #nav1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    #nav2 {
        order: -1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}
#tablePage {
    /* border: thin solid black; */
    padding: 20px;
    /* background-color: rgba(255, 250, 234, 0.452); */
}
.perfumeTable {
    font-family: 'Raleway';
    color: black;
    font-size: 32px;
    width: auto;
    text-align: center;
}
.motto2 {
    margin-top: 10px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 15px;
}
.centerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.perfumeTable thead th {
    padding: 15px;
    font-weight: 500;
    border-bottom: thin solid black;
}
.perfumeTable tbody td {
    padding: 5px;
    font-weight: 200;
}
.perfumeTable tbody tr:nth-child(odd) {
    background-color: rgba(207, 207, 209, 0.199);
}
.ing {
    border-right: thin solid black;
}
#tabCap {
    width: 800px;
    margin: auto;
    margin-bottom: 75px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}